<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Your Name - Portfolio</title>
</head>

<body>
  <header>
    <h1>Nissi P. James<h1>
    <h4>Web Developer</h4>
  </header>

  <nav>
    <ul>
      <!-- <li><a href="/">Home</a></li> -->
      <li><a href="/about">About</a></li> <!-- Added link to About Me page -->
    </ul>
  </nav>

  <section id="projects">
    <h2>Bio</h2>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam velit ad molestiae delectus quod necessitatibus, magnam cumque ipsa rem a soluta doloremque distinctio blanditiis aspernatur praesentium, dolorem nostrum laudantium labore!
  </section>

  <section id="contact">
    <h2>Contact</h2>
    <p>Email: nissi.neerudu@gmail.com</p>
    <!-- Add more contact information as needed -->
  </section>
</body>

</html>